#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    gap: 2rem;
    background-color: #121212;
    -webkit-box-shadow: 3px 7px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 13px -1px rgba(0,0,0,0.75);
}

#navbar h2 {
    font-size: 3rem;
}

#navbar h2 a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#navbar form {
    display: flex;
    gap: 0.5rem;
}

#navbar input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    margin-right: -10px;
    background-color: #bbc5c9;
    border: none;
    width: 17rem;
}

#navbar form button {
    background-color: #209de3;
    border: 2px solid #209de3;
    border-radius: 0 4px 4px 0;
    color: #181823;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

#navbar form button:hover {
    background-color: transparent;
    color: #209de3;
}

#footer {
    gap: 1rem;
    display: flex;
    color: #bbc5c9;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #121212;
    -webkit-box-shadow: 1px -11px 23px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -11px 23px -10px rgba(0,0,0,0.75);
    box-shadow: 1px -11px 23px -10px rgba(0,0,0,0.75);
}

#footer a {
    color: #bbc5c9;
}